body {
    background-image: linear-gradient(to left,green,purple);}

body {text-align: center;}
p {color: white;}
h1 {color:lightgray;}
body {font-family:cursive;}
.flex-container {
    display: flex;
    justify-content: center; /* Center flex items horizontally */
    align-items: center; /* Center flex items vertically */
    height: 200px; /* Specify height */
   margin-bottom:50px;
    }
.flex-item {
    margin: 50px;
    padding: 15px;
}
a:link {
    color: lightgray;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: lightgray;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color:lightgray;
    background-color: transparent;
    font-size: 17px;
    text-decoration: underline;
  }
  