html {
    background-image: linear-gradient(to bottom,rgb(255, 255, 255),rgb(131, 131, 131));
     height:100%;
     }

body {text-align: center;}
p {color: rgb(0, 0, 0);}
h1 {color:rgb(0, 0, 0);}
body {font-family:cursive;}
.flex-container {
    display: flex;
    justify-content: center; /* Center flex items horizontally */
    align-items: center; /* Center flex items vertically */
    height: 200px; /* Specify height */
   margin-bottom:50px;
    }
.flex-item {
    margin: 50px;
    padding: 15px;
}
a:link {
    color: lightgray;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color:rgb(39, 17, 17);
    background-color: transparent;
    font-size: 17px;
    text-decoration: underline;
  }
  